.light-theme {
    background-color: #c392f8 !important;
    color: black !important;
    transition: background-color 0.3s ease;
}

.dark-theme {
    background-color: #523c67 !important;
    color: white !important;
    transition: background-color 0.3s ease;
}


body{
    padding-top: 140px;
}

